<section class="todoapp">
    <app-tarea-agregar></app-tarea-agregar>
     <!-- This section should be hidden by default and shown when there are todos -->
     <section class="main">
        <input id="toggle-all" class="toggle-all" type="checkbox" >
        <label for="toggle-all" (click)="completarTareas()">Mark all as complete</label>
      <app-tareas-list></app-tareas-list>
      </section>
     <!-- This footer should hidden by default and shown when there are todos -->
     <app-tarea-footer></app-tarea-footer>
   </section>
